.wrapper {
  margin-left: 15px;
  margin-top: 30px;
}

.button {
  padding: 6px;
  margin: 15px 0px 0px 30px;
  font-size: 14px;
  border-radius: 2px;
  background-color: rgba(34, 139, 34, 0.452);
  border: 1px solid rgba(34, 139, 34, 0.452);
}

.button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.829);
  background-color: rgba(34, 139, 34, 0.808);
}
