.castList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.actor {
  margin: 20px;
  width: 250px;
}

.name {
  margin: 0px;
}

.character {
  margin: 0px;
  font-weight: 500;
  width: 80%;
}
