.searchInput {
  margin: 25px 15px;
  padding: 6px;
  font-size: 14px;
}

.searchBtn {
  padding: 6px;
  font-size: 14px;
  background-color: rgba(44, 69, 212, 0.452);
  border: 1px solid rgba(44, 69, 212, 0.452);
  border-radius: 2px;
}

.searchBtn:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.829);
  background-color: blue;
}
.movieItem {
  list-style: none;
  margin-top: 10px;
}
